
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13183f;
    margin-left: 0;
    padding-right: 220px;
    height: 120px;
  }
  footer p{
    color: #ffffff;
    font-size: 36px;
    padding-left: 165px;
  }