header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 220px;
  }
  header p{
    color: #13183f;
    font-size: 36px;
    font-weight: 800;
    padding-left: 165px;}